# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, these users will be requested
# for review whenever someone opens a pull request.
*       @AzureAD/AppleIdentityTeam
# @AzureAD/AppleCIAMTeam owns any files in the */native_auth
# directories and any of its subdirectories.
/MSAL/src/native_auth/ @AzureAD/MSAL-ObjC-CIAM
/MSAL/test/unit/native_auth/ @AzureAD/MSAL-ObjC-CIAM
/MSAL/test/integration/native_auth/ @AzureAD/MSAL-ObjC-CIAM
# For more details about inheritance patterns, or to assign different
# owners for individual file extensions, see:
# https://help.github.com/articles/about-codeowners/
