#include "msal__framework__ios.xcconfig"

// Force the linker to resolve symbols.
GENERATE_MASTER_OBJECT_FILE = YES

ARCHS = $(ARCHS_STANDARD)

// Activate full bitcode on release configuration for real devices.
OTHER_CFLAGS[config=Release][sdk=iphoneos*] = $(OTHER_CFLAGS) -fembed-bitcode

// Build static library.
MACH_O_TYPE = staticlib
