#include "msal__common__ios.xcconfig"

INFOPLIST_FILE = test/automation/ios/resources/info.plist;
PRODUCT_BUNDLE_IDENTIFIER = com.microsoft.MSALAutomationApp;
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon;
PRODUCT_NAME = MSAL Automation App;
USER_HEADER_SEARCH_PATHS = $IDCORE_PATH/tests/automation/** $IDCORE_PATH/src/**;
